.alert {
    position: fixed;
    bottom: 0px;
    right: 16px;
    width: 20%;
    min-width: 15%;
}

.container {
    padding-right: 20%;
    padding-left: 20%;
}

.jumbotron {
    padding: 0.5rem 0.25rem;
}

@media (min-width:576px) {
    .jumbotron {
        padding: 1rem 0.5rem;
    }
}

.c-inline {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    -webkit-box-flex:0;
    -ms-flex:0 0 auto;
    flex:0 0 auto;
    -webkit-box-orient:horizontal;
    -webkit-box-direction:normal;
    -webkit-box-align:center;
    -ms-flex-align:center;
    align-items:center;
    margin-bottom:0
}